# Ignore all #
####################
*

# Unignore all with extension#
####################
!*.*

# Unignore all dir #
####################
!*/

# Dependencies Files #
######################
src/.deps/*

# Compiled Source #
####################
*.o
*.com
*.so

# Unignore Files #
##################
!tags
!helloWorld

# Unignore binaries #
#####################
scif_tutorials/*
