# Ignore all #
####################
*

# Unignore all with extension#
####################
!*.*

# Unignore all dir #
####################
!*/

# Compiled Source #
####################
*.o
*.com
*.so

# Unignore Files #
##################
!tags
